doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello, world!
    body 
        h1 Hello, world!
            .remark 
                p Pug rocks!

        nav
            navbar-default div
                h1 My Website!
            ul
                li
                    a(href="/") Home
                li
                    a(href="/page-1") Page 1
                li
                    a(href="/page-2") Page 2

            input.search(
                type="text"
                name="search"
                placeholder="Enter a search term..."
            )             